.button {
    position: relative;
    padding: 5px 6px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    border-radius: 4px;
    width: 160px;
    transition: all 125ms;

    &-title {
        display: block;
        width: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 100%;
        height: 100%;
        background-color: grey;
        border-radius: inherit;
        border: 1px solid white;
        z-index: -1;
        transition: top 125ms, left 125ms;
    }

    &:hover {
        &::after {
            top: 4px;
            left: 4px;
        }
    }

    &:active {
        .button-title {
            transform: scale(0.95);
        }

        &::after {
            top: 0;
            left: 0;
        }
    }
}
